/****************** Fuente ***************/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
	
body{
	font-family: 'Montserrat', sans-serif;
}

h2{
	font-size: 4.5em;
	font-weight: bold;
}

.contenedor{
	padding: 5em 0;
}

/*********** header *************/
header{
	background: linear-gradient(230.69deg, #07B2F4 2.61%, #2C75B4 100%) 
}

.logo img{
	width: 50%;
	
}

/*********** Trial *************/
.trial{
	background-color: #ccc;
}


/*********** Features *************/
.features{
	background-color: #aaa;
}


/*********** View *************/
.view{
	padding: 7.5em 0;
	background-color: #fff;
	background:url(../img/bg-quick-view.jpg);
	background-size: cover;
}
.view h2{
	color: #fff;
	text-align: center;
	margin-bottom: 1em;
}

.view ul#lightSlider li{text-align: center;}

/*********** FAQs *************/
.faqs{
	background-color: #ccc;
}

/*********** Footer *************/
footer{
	background-color: #333;
	color:#fff;
}